<section once="footers" class="cid-rGFxMFnjzD" id="footer7-5">





    <div class="container">
        <div class="media-container-row align-center mbr-white">

            <div class="row social-row">
                <div class="social-list align-right pb-2">






                <div class="soc-item">
                        <a href="https://twitter.com/nassimspace" target="_blank" rel="noopener">
                            <span class="mbr-iconfont mbr-iconfont-social socicon-twitter socicon" style="font-size: 32px; color: rgb(85, 180, 212); fill: rgb(85, 180, 212);"></span>
                        </a>
                    </div><div class="soc-item">
                        <a href="https://www.facebook.com/nassimspace" target="_blank" rel="noopener">
                            <span class="mbr-iconfont mbr-iconfont-social socicon-facebook socicon" style="font-size: 32px; color: rgb(0, 51, 159); fill: rgb(0, 51, 159);"></span>
                        </a>
                    </div><div class="soc-item">
                        <a href="https://instagram.com/nassimspace" target="_blank" rel="noopener">
                            <span class="mbr-iconfont mbr-iconfont-social socicon-instagram socicon" style="color: rgb(160, 0, 231); fill: rgb(160, 0, 231); font-size: 32px;"></span>
                        </a>
                    </div><div class="soc-item">
                        <a href="https://www.linkedin.com/in/nassim-abdellaoui/" target="_blank" rel="noopener">
                            <span class="mbr-iconfont mbr-iconfont-social fa-linkedin-square fa" style="color: rgb(15, 118, 153); fill: rgb(15, 118, 153); font-size: 36px;"></span>
                        </a>
                    </div><div class="soc-item">
                        <a href="https://github.com/nassimspace" target="_blank" rel="noopener">
                            <span class="mbr-iconfont mbr-iconfont-social fa-github fa" style="font-size: 32px;"></span>
                        </a>
                    </div></div>
            </div>
            <div class="row row-copirayt">
                <p class="mbr-text mb-0 mbr-fonts-style mbr-white align-center display-7">
                    <a href="https://twitter.com/NassimSpace" target="_blank" rel="noopener">@NassimSpace - 2019</a></p>
            </div>
        </div>
    </div>
</section>
