<section class="menu cid-rGFq2dXdRA" once="menu" id="menu1-0">



  <nav class="navbar navbar-expand beta-menu navbar-dropdown align-items-center navbar-fixed-top collapsed">
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <div class="hamburger">
              <span></span>
              <span></span>
              <span></span>
              <span></span>
          </div>
      </button>
      <div class="menu-logo">
          <div class="navbar-brand">
              <span class="navbar-logo">

                       <img src="assets/images/barf-logo.svg" alt="Barf.JS" title="" style="height: 4.3rem;">

              </span>
              <span class="navbar-caption-wrap"><a class="navbar-caption text-white display-4" href="#">
                      BARF.JS</a></span>
          </div>
      </div>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav nav-dropdown" data-app-modern-menu="true"><li class="nav-item">
                  <a class="nav-link link text-white display-4" href="#">BARF.JS</a>
              </li></ul>
          <div class="navbar-buttons mbr-section-btn"><a class="btn btn-sm btn-danger display-4" href="#" onclick="onNavItemClick('/'); return false;">

                  HOME</a> <a class="btn btn-sm btn-success display-4" href="#" onclick="onNavItemClick('/setup'); return false;">

                  SETUP</a> <a class="btn btn-sm btn-secondary display-4" href="#" onclick="onNavItemClick('/lazyload'); return false;">

                  IMAGES &amp; IFRAMES</a>  <!-- <a class="btn btn-sm btn-primary display-4" href="contributors.html">

                  INSPIRATION</a> --> <a class="btn btn-sm btn-white-outline display-4" href="#" onclick="onNavItemClick('/discuss'); return false;">

                  COMMENT &amp; CONTACT</a></div>
      </div>
  </nav>
</section>
